* {
    border: 0;
    margin: 0;
}

body {
    font-size: 0.9rem;
    font-family: Titillium Web;
}

.layout {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(9, 1fr);
    outline: 1.5px solid #000;
}

.contenedor-carta {
    grid-column: 1/10;
    grid-row: 1/12;
    background: #000;
    display: flex;
    flex-direction: column;
}

.img-carta {
    height: calc((6/11)*100%);
}

.contenedor-consola-carta {
    height: calc((5/11)*100%);
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
}

.consola-carta {
    padding: 0 20px;
    padding-top: 50px;
    text-align: center;
}

.contenedor-consola-personaje {
    grid-column: 1/10;
    grid-row: 12/15;
    display: flex;
    align-items: center;
    justify-content: center;
}

.consola-personaje {
    text-align: center;
    padding: 30px;
}

.contenedor-botones-juego {
    grid-column: 1/10;
    grid-row: 15/16;
    display: flex;
    align-items: center;
}

.boton-juego {
    border-top: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.boton-juego.boton-levantarCarta {
    border-right: 1px solid #000;
}

.encabezado-elementos-generales {
    grid-column: 1/10;
    grid-row: 16/17;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    background: #000;
    color: #fff;
}

.encabezado-personaje,
.encabezado-atributo,
.encabezado-estado {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.encabezado-personaje {
    grid-column: 1/ span 2;
}

.encabezado-atributo {
    grid-column: 3 / span 5;
}

.encabezado-estado {
    grid-column: 8 / span 2;
}

.encabezado-elementos-generales * {
    text-align: center;
}

.contenedor-elementos-generales {
    grid-column: 1/10;
    grid-row: 17/-1;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    height: 100%;
}

.contenedor-personaje,
.contenedor-estado {
    background: #000;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-personaje img,
.contenedor-estado img {
    background-color: #fff;
}

.contenedor-personaje {
    grid-column: 1/3;
}

.contenedor-estado {
    grid-column: 8/10;
}

.contenedor-atributo {
    grid-column: 3/8;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background: #000;
}

.atributo {
    margin: 0 1px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.img-atributo {
    border: 1px solid #fff;
    height: 50%;
    background: #fff;
}

.text-atributo {
    height: 50%;
    margin-top: 2px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}


.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: none;
    width: 33vW;
    height: 33vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 16.6%);
    text-align: center;
    z-index: 250;
    outline: solid #000000 9px;
    border: solid #ffffff 9px;
    background-color: rgb(255, 255, 255);
}

.item-modal.header {
    grid-column: 1/ span 2;
}

.item-modal {
    margin: 2px;
}

.modal-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



@media only screen and (min-width: 600px) {
    body {
        display: flex;
        justify-content: center;
    }

    .layout {
        width: 60vw;
    }
}

@media only screen and (min-width: 700px) {
    body {
        display: flex;
        justify-content: center;
    }

    .layout {
        width: 40vw;
    }
}